<template>
  <div id="app">
    <h1>{{ loading }}</h1>
    <button @click="setHeroes">Load data</button>
    <div v-for="hero in allHeroes" :key="hero.id">{{ hero.name }}</div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'app',
  computed: {
    allHeroes() {
      return this.$store.state.heroes;
    },
    loading() {
      return this.$store.state.loading;
    },
  },
  methods: {
    ...mapActions(['setHeroes']),
  },
};
</script>

<style></style>
